<div class="content" fxLayout="column" fxLayoutAlign="space-between">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title style="text-align: center"
        >Welcome to the <b>Green Canyon Ward</b> Sacrament meeting
        broadcast!</mat-card-title
      >
      <mat-card-subtitle style="text-align: center"
        >Please select the number of people watching this broadcast in your
        home.</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <div class="example-button-row">
        <mat-grid-list cols="3" rowHeight="3:1">
          <mat-grid-tile *ngFor="let viewer of viewerList">
            <button
              class="sacrament-color"
              mat-raised-button
              style="height: 75%; width: 75%; text-align: center"
              color="primary"
              (click)="onClick(viewer)"
            >
              {{ viewer }}
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div style="justify-content: center">
        <button
          mat-raised-button
          class="sacrament-color"
          style="height: 3.9em; width: 100%; text-align: center"
          color="primary"
          (click)="onClick(0)"
        >
          0
        </button>
      </div>
    </mat-card-content>
    <mat-card-footer style="text-align: center">
      Once selected you will be directed to the broadcast. Thanks!
    </mat-card-footer>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title style="text-align: center"
        >Sunday School Zoom Meeting</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <div class="example-button-row">
        <div style="justify-content: center">
          <button
            mat-raised-button
            class="sunday-school-color"
            style="height: 3.9em; width: 100%; text-align: center"
            color="primary"
            (click)="onSundaySchoolClick()"
          >
            Click Here to Join Sunday School
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title style="text-align: center"
        >Elder's Quorum Zoom Meeting</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <div class="example-button-row">
        <div style="justify-content: center">
          <button
            mat-raised-button
            class="elder-quorum-color"
            style="height: 3.9em; width: 100%; text-align: center"
            color="primary"
            (click)="onElderQuorumClick()"
          >
            Click Here to Join Elder's Quorum
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title style="text-align: center"
        >Relief Society's Zoom Meeting</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <div class="example-button-row">
        <div style="justify-content: center">
          <button
            mat-raised-button
            class="relief-society-color"
            style="height: 3.9em; width: 100%; text-align: center"
            color="primary"
            (click)="onReliefSocietyClick()"
          >
            Click Here to Join Relief Society
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <h1>Up Coming Stake Meetings</h1>
  <mat-card class="example-card" *ngIf="true">
    <mat-card-header>
      <mat-card-title style="text-align: center"
        >North Logan Stake Conference
      </mat-card-title>
      <mat-card-subtitle style="text-align: center"
        >Come what March 17th, 9am-10:15am via Zoom.</mat-card-subtitle
      >
    </mat-card-header>
    <a href="https://zoom.us/j/95987563835">
      <img
        mat-card-image
        src="assets/img/stake-conference.jpg"
        alt="Stake Conference"
      />
    </a>
    <mat-card-content>
      <div class="example-button-row">
        <div style="justify-content: center">
          <button
            mat-raised-button
            type="button"
            class="sunday-school-color"
            style="height: 3.9em; width: 100%; text-align: center"
            color="primary"
            href="https://zoom.us/j/95987563835"
          >
            Click Here to Join Stake Conference
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" *ngIf="true">
    <mat-card-header>
      <mat-card-title style="text-align: center"
        >North Logan Stake Special Youth Session
      </mat-card-title>
      <mat-card-subtitle style="text-align: center"
        >All young men and young women and their leaders, Come what March 17th, 12pm via Zoom.</mat-card-subtitle
      >
    </mat-card-header>
    <a href="https://zoom.us/j/95987563835">
      <img
        mat-card-image
        src="assets/img/childrenAndYouth.jpg"
        alt="Stake Conference"
      />
    </a>
    <mat-card-content>
      <div class="example-button-row">
        <div style="justify-content: center">
          <button
            mat-raised-button
            type="button"
            class="sunday-school-color"
            style="height: 3.9em; width: 100%; text-align: center"
            color="primary"
            href="https://zoom.us/j/95987563835"
          >
            Click Here to Join Stake Special Youth Session
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
